.font(@font-family; @font-size; @line-height) {
	font-family: @font-family;
	font-size: @font-size;
	line-height: @line-height;
}

.input-reset {
  padding: 0;
  margin: 0;
  border: none;

  outline: none;
  background: none;
}

.ul-reset {
  padding: 0;
  margin: 0;

  list-style: none;
}

.clearfix {
  content: "";

  display: table;
  clear: both;
}

.container() {
  width: 320px;
  margin: 0 auto;

  @media @tablet-widths {
    width: 668px;
  }

  @media @desktop-widths {
    width: 1050px;
  }
}
