@main-font-regular: "open_sansregular", "Arial", sans-serif;
@main-font-bold: "open_sansbold", "Arial", sans-serif;

@main-background-color: #ffffff;
@secondary-background-color: #f1f1f1;
@banner-background-color: #f9f9f9;

@main-header-color: #000000;
@main-text-color: #444444;
@text-color-white: #ffffff;
@link-color: #231f20;
@menu-icon-color: #d3d2d2;
@main-border-color: #ececec;
@secondary-border-color: #444444;

@footer-border-color: #e5e5e5;
@brand-color: #63d1bb;
@brand-color-2: #46c1ae;
@brand-color-dark: #3bb09d;

@mobile-widths-only: ~"(max-width: 767px)";
@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1150px)";
