@main-font-regular: "open_sansregular", "Arial", sans-serif;
@main-font-bold: "open_sansbold", "Arial", sans-serif;

@main-background-color: #ffffff;
@secondary-background-color: #f1f1f1;
@banner-background-color: #f9f9f9;

@main-header-color: #000000;
@main-text-color: #444444;
@main-border-color: #ececec;
@footer-border-color: #e5e5e5;
@brand-color: #63d1bb;

@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1150px)";
