.btn {
  .input-reset;

  display: block;
  width: 100%;
  height: 52px;
  border: 2px solid @main-text-color;
  box-sizing: border-box;

  .font(@main-font-bold; 18px; 48px);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;

  color: @main-text-color;

  transition: all 0.2s ease;

  &:hover {
    color: @text-color-white;
    background-color: @main-text-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--make-order {
    color: @main-background-color;
    background-color: @brand-color;
    border-color: @brand-color;
  }

  &--make-order:hover {
    background-color: @brand-color-2;
    border-color: @brand-color-2;
  }

  &--make-order:active {
    background-color: @brand-color;
    border-color: @brand-color;
  }
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  .input-reset;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.input-radio,
.input-checkbox {
  position: relative;

  flex: 1 0 100%;

  width: 100%;
  min-height: 40px;
  padding: 10px 0 0 62px;
  box-sizing: border-box;

  .font(@main-font-bold, 17px, 18px);
  text-align: left;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid @secondary-border-color;
    box-sizing: border-box;

    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;

    cursor: pointer;

    transition: all 0.15s;
  }
}

.input-radio {
  margin-bottom: 15px;

  &::before {
    border-radius: 50%;
  }

  &:hover::before {
    border-color: @brand-color;
  }

  &:active::before {
    border-color: @input-color-active;
  }
}

input[type="radio"] + .input-radio::before {
  background-image: none;
}

input[type="radio"]:checked + .input-radio::before {
  background-image: url("../img/icon-dot.svg");
  background-size: 16px 16px;
}

.input-checkbox {
  margin-bottom: 21px;
  background-size: 35px 23px;

  &:hover::before {
    border-color: @brand-color;
  }

  &:active::before {
    border-color: @input-color-active;
  }
}

input[type="checkbox"] + .input-checkbox::before {
  background-image: none;
}

input[type="checkbox"]:checked + .input-checkbox::before {
  background-image: url("../img/icon-tick.svg");
  background-size: 22px 16px;
}

.input-text,
.input-phone,
.input-email {
  flex: 1 0 100%;
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 16px;

  .font(@main-font-bold, 17px, 18px);
  text-align: left;

  label {
    flex: 0 0 100%;

    padding: 5px 0 1px;
    margin: 0;

    .font(@main-font-bold, 17px, 18px);
    text-align: left;
  }

  input {
    flex: 0 0 100%;

    height: 52px;
    padding: 0 35px 0 0;
    border-bottom: 2px solid @secondary-border-color;
    box-sizing: border-box;

    .font(@main-font-regular, 17px, 18px);
    text-align: left;

    color: @main-text-color;

    &:hover,
    &:active,
    &:focus {
      border-color: @brand-color;
    }

    &:invalid {
      border-color: @input-color-invalid;
    }
  }
}

.input-phone,
.input-email {
  position: relative;

  svg {
    fill: #cccccc;
  }

  &:hover svg,
  &:active svg {
    fill: @brand-color;
  }

  &:invalid svg {
    fill: #cccccc;
  }
}

.input-phone__icon,
.input-email__icon {
  position: absolute;
  right: 0;
  top: 50%;

  transform: translatey(-50%);

  svg {
    fill: #cccccc;
  }
}

.input-text:last-child {
  margin-bottom: 22px;
}

.input-phone {
  margin-bottom: 28px;
}

.input-email {
  margin-bottom: 23px;
}

.input-message {
  width: 100%;

  .font(@main-font-bold, 17px, 18px);
  text-align: left;

  textarea {
    width: 100%;
    height: 142px;
    padding: 15px;
    margin-top: 24px;
    border: 2px solid @secondary-border-color;
    box-sizing: border-box;
    resize: none;

    .font(@main-font-regular, 17px, 18px);
    text-align: left;

    color: @main-text-color;

    &:hover,
    &:active {
      border-color: @brand-color;
    }

    &:invalid {
      border-color: @input-color-invalid;
      color: rgba(68, 68, 68, 0.3);
    }
  }
}

@media @tablet-widths {
  .input-radio,
  .input-checkbox {
    min-height: 53px;
    padding: 15px 0 0 80px;

    font-size: 19px;

    &::before {
      width: 53px;
      height: 53px;
    }
  }

  .input-radio {
    margin-bottom: 23px;
  }

  input[type="radio"]:checked + .input-radio::before {
    background-size: 22px 22px;
  }

  .input-checkbox {
    flex: 0 0 40%;

    margin-bottom: 23px;

    &:nth-of-type(odd) {
      flex: 0 0 53%;
    }
  }

  input[type="checkbox"]:checked + .input-checkbox::before {
    background-size: 35px 23px;
  }

  .input-text,
  .input-phone,
  .input-email {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    margin-bottom: 24px;

    label {
      flex: 0 0 auto;

      min-width: 53px;
      padding-right: 23px;

      font-size: 19px;
    }

    input {
      flex: 0 1 100%;
    padding: 0 35px 0 17px;

      font-size: 19px;
    }
  }

  .input-phone,
  .input-email {
    margin-bottom: 15px;
  }
}

@media @desktop-widths {
  .input-checkbox:nth-child(n) {
    flex: 0 0 263px;
  }
}
