.btn {
  .input-reset;
  .font(@main-font-bold; 18px; 16px);
  text-align: center;
  text-transform: uppercase;

  color: @main-text-color;
}

input[type="text"],
input[type="phone"],
input[type="e-mail"],
input[type="text-area"] {
  .input-reset;
}

