.catalog {
  background-color: @main-background-color;
}

.catalog__title {
  .font(@main-font-bold; 17px; 24px);
  text-align: left;

  color: @main-header-color;
}

.catalog__short-description {
  .font(@main-font-bold; 13px; 30px);
  text-align: left;

  color: @main-text-color;
}

.catalog__price {
  .font(@main-font-bold; 15px; 24px);
  text-align: left;

  color: @main-header-color;
}

.catalog__add-to-cart {
  .input-reset;
}
