.catalog {
  font-family: @main-site-font;

  background-color: @main-background-color;
}

.catalog__item {

}

.catalog__image {

}

.catalog__title {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;

  color: @main-header-color;
}

.catalog__short-description {
  font-size: 13px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;

  color: @main-text-color;
}

.catalog__price {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;

  color: @main-header-color;
}

.catalog__add-to-cart {
  .input-reset;
}
