.catalog-categories__list {
  .ul-reset;

  display: flex;
  flex-direction: column
}

.catalog-categories__link {
  flex: 1 1 103px;

  display: block;
  min-width: 150px;
  min-height: 103px;
  padding: 29px 50% 29px 30px;
  box-sizing: border-box;

  .font(@main-font-bold; 19px; 24px);

  color: #ffffff;
  text-decoration: none;

  &--interior {
    background-color: @brand-color;
    }

  &--toys {
    background-color: #56c3b2;
    }
}

@media @tablet-widths {
  .catalog-categories__list {
    flex-direction: row;

    padding: 0 50px;
  }

  .catalog-categories__link {
    flex: 1 1 250px;

    padding: 30px 25% 30px 36px;

    .font(@main-font-bold; 20px; 30px);
  }
}

@media @desktop-widths {
  .catalog-categories__link {
    padding: 30px 40% 30px 40px;
  }
}
