.contacts {
  background-color: @main-background-color;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  min-height: 100px;
  padding: 30px 0 39px;
}

.contacts__title {
  align-self: flex-end;

  width: 320px;
  padding: 0 30px;
  margin: 0 auto 7px;
  box-sizing: border-box;

  h2 {
    padding: 5px 0;
    margin: 0;

    .font(@main-font-bold; 18px; 30px);
    text-align: left;

    color: @main-header-color;
  }
}

.contacts__title-icon {
  display: none;
}

.contacts__table {
  display: table;
  width: 320px;
  padding: 0 30px;
  margin: 0 auto 22px;
  box-sizing: border-box;

  .font(@main-font-regular; 15px; 30px);
  text-align: left;

  color: @main-text-color;
}

.contacts__table-row {
  display: table-row;
  width: 100%;
}

.contacts__info-title {
  display: table-cell;
  width: 75px;
  padding: 15px 0;

  vertical-align: top;
}

.contacts__info-content {
  display: table-cell;
  padding: 15px 0;

  vertical-align: top;
}

.contacts__link {
  position: relative;

  padding-bottom: 5px;

  .font(@main-font-regular; 15px; 30px);
  text-align: left;
  text-decoration: none;

  color: @main-text-color;

  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 1px;

    background-color: @brand-color;
  }

  &:hover {
    color: @brand-color-2;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map {
  order: 1;

  width: 100%;
  min-height: 457px;
  margin: 0 auto 39px;

  background-color: transparent;
  background-image: url("../../img/map-tablet@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.contacts__btn-feedback {
  order: 2;

  width: 260px;
  margin: 0 auto;
}

@media @tablet-widths {
  .contacts__wrapper {
    padding: 27px 0 57px;
  }

  .contacts__title {
    flex: 0 0 80px;
    display: flex;
    justify-content: space-between;

    width: 668px;
    padding: 0;
    margin: 20px auto 19px;
    box-sizing: border-box;

    h2 {
      position: relative;

      padding: 15px 50px 15px 0;

      .font(@main-font-bold; 43px; 50px);
    }
  }

  .contacts__title-icon {
    display: block;
  }

  .contacts__table {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    width: 668px;
    padding: 0;
    margin-bottom: 40px;

    font-size: 17px;
  }

  .contacts__table-row {
    flex: 0 0 50%;
    box-sizing: border-box;

    &:first-child {
      padding-right: 45px;
    }
  }

  .contacts__map {
    margin-bottom: 56px;
    background-image: url("../../img/map-tablet@1x.jpg");

  }

  .contacts__btn-feedback {
    width: 230px;
  }
}

@media @desktop-widths {
  .contacts {
    min-height: 633px;
  }

  .contacts__wrapper {
    .container;
    display: block;

    width: 1050px;
    padding: 71px 0 105px;
    box-sizing: border-box;
  }

  .contacts__title {
    flex: 0 0 50%;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-self: flex-start;
    width: 50%;
    padding: 0;
    margin: 62px 0 15px;

    h2 {
      padding-right: 58px;
      padding-left: 0;

      font-size: 53px;
    }
  }

  .contacts__title-icon {
    flex: 0 0 171px;

    text-align: center;
  }

  .contacts__table {
    display: table;
    padding: 0;
    margin: 0;
    margin-left: 175px;
    width: 295px;
  }

  .contacts__map {
    align-self: flex-end;

    float: right;

    width: 50%;
    min-height: 457px;

    background-image: url("../../img/map-desktop@1x.jpg");
  }

  .contacts__btn-feedback {
    margin: 64px 0 0 175px;
  }
}
