.footer-main {
  font-family: @main-site-font;

  background-color: @secondary-background-color;
}

.footer-main__academy-link {
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;

  color: @main-header-color;
}
