.modal-order {
  background-color: lighten(@main-background-color, 10%);
}

.modal-order__wraper {
  font-family: @main-site-font;

  background-color: @main-background-color;
}

.modal-order__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;

  color: @main-header-color;
}

.modal-order__product-size {

}

.modal-order__form {

}

.modal-order__form-title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;

  color: @main-text-color;
}

.modal-order__size-controls {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;

  color: @main-text-color;
}

.modal-order__size-label {
  display: block;

  font-size: 17px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;

  color: @main-text-color;
}

.modal-order__size-conrol {
  display: none;
}
