.modal-order {
  display: none;

  background-color: lighten(@main-background-color; 10%);
}

.modal-order__wraper {
  background-color: @main-background-color;
}

.modal-order__title {
  .font(@main-font-bold; 25px; 30px);
  text-align: center;

  color: @main-header-color;
}

.modal-order__form-title {
  .font(@main-font-bold; 25px; 30px);
  text-align: center;

  color: @main-text-color;
}

.modal-order__size-controls {
  .font(@main-font-regular; 15px; 30px);
  text-align: center;

  color: @main-text-color;
}

.modal-order__size-label {
  display: block;

  .font(@main-font-regular; 17px; 16px);
  text-align: center;

  color: @main-text-color;
}

.modal-order__size-conrol {
  display: none;
}
