.page-title {
  position: relative;

  min-height: 176px;

  background-color: @secondary-background-color;
}

.page-title__container {
  .container;
  padding-top: 52px;

  h1 {
    .font(@main-font-bold; 27px; 30px);
    text-align: center;

    color: @main-header-color;
  }
}

@media @tablet-widths {
  .page-title {
    min-height: 235px;

    &::after {
      content: "";

      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 5;

      display: block;
      height: 24px;
      width: 100vw;

      background: transparent url("../img/bg-zigzag-fill.svg") left center repeat-x;
      background-size: contain;
    }
  }

  .page-title__container {
    padding-top: 66px;

    h1 {
      .font(@main-font-bold; 43px; 50px);

      color: @main-header-color;
    }
  }
}

@media @desktop-widths {
  .page-title {
    min-height: 270px;

    &::after {
      height: 34px;
    }
  }

  .page-title__container {
    padding-top: 57px;

    h1 {
      .font(@main-font-bold; 53px; 57px);

      color: @main-header-color;
    }
  }
}
