.product__title {
  .font(@main-font-bold; 25px; 30px);

  color: @main-header-color;
}

.product__label {
  .font(@main-font-bold; 17px; 17px);

  color: @brand-color;
}

.product__description {
  .font(@main-font-regular; 15px; 24px);

  color: @main-text-color;
}

.product__features {
  .font(@main-font-regular; 15px; 20px);
  text-align: left;

  color: @main-text-color;
}

.product__feature-title {
  .font(@main-font-regular; 17px; 17px);
}

.product__feture-item {
  .font(@main-font-regular; 17px; 17px);
}

.product__price {
  .font(@main-font-bold; 17px; 24px);

  color: @main-text-color;
}
