.product {
  font-family: @main-site-font;
}

.product__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;

  color: @main-header-color;
}

.product__label {
  font-size: 17px;
  font-weight: 700;
  line-height: 17px;

  color: #63d1bb;
}

.product__description {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;

  color: @main-text-color;
}

.product__features {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;

  color: @main-text-color;
}

.product__feature-title {
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
}

.product__feture-item {
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
}

.product__image {

}

.product__price {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  color: @main-text-color;
}
