.reviews {
  background-color: @main-background-color;
}

.reviews__title {
  .font(@main-font-bold; 25px; 30px);
  text-align: left;

  color: @main-header-color;
}

.reviews__item {
  text-align: left;
}

.reviews__user-text {
  .font(@main-font-regular; 15px; 30px);

  color: @main-text-color;
}

.reviews__user-name {
  .font(@main-font-bold; 18px; 24px);

  color: @main-header-color;
}

.reviews__user-email {
  .font(@main-font-regular; 18px; 24px);

  color: @main-text-color;
}
