.social {

}

.social__list {
  .ul-reset;

  font-size: 0;
}

.social__item {
  display: inline-block;
}

.social__link {
  display: block;

  &--instagramm {

  }

  &--facebook {

  }

  &--twitter {

  }
}
