.video {
  font-family: @main-site-font;

  border: 1px solid @main-border-color;
}

.video__title {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;

  color: @main-header-color;

  &::before {

  }
}

.video__player {
  position: relative;
}

.video__player-button {
  position: absolute;
}

.video__description {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;

  color: @main-text-color;
}
