.video {
  border: 1px solid @main-border-color;
}

.video__title {
  .font(@main-font-bold; 17px; 24px);
  text-align: left;

  color: @main-header-color;
}

.video__player {
  position: relative;
}

.video__player-button {
  position: absolute;
}

.video__description {
  .font(@main-font-regular; 13px; 24px);
  text-align: left;

  color: @main-text-color;
}
